---
ecosystem:
  store: http://IP_ADDRESS:PORT

queue:
  redisConnection:
    host: REDIS_HOST
    port: REDIS_PORT
    options:
      password: a-secure-password
      tls: false
    database: 0
  prefix: ''

unzip-service:
  # https://github.com/taskrabbit/node-resque#multiworker-options
  # minimum number of workers to spawn
  minTaskProcessors: 1
  # maximum number of workers to spawn
  maxTaskProcessors: 10
  # how often to check if the event loop is blocked (ms)
  checkTimeout: 1000
  # how long the event loop has to be delayed before considering it blocked (ms)
  maxEventLoopDelay: 10
  # number of parallel executions for asynchronous upload of unzipped files to store
  # if set to 0, unlimited.
  parallelUploadLimit: 0

httpd:
  # Port to listen on
  port: 80
  # Host to listen on (set to localhost to only accept connections from this machine)
  host: 0.0.0.0
  # Externally routable URI (usually your load balancer or CNAME)
  uri: http://IP_ADDRESS:PORT
